[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
"pytest-pep8" = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"


[packages]

django = ">=2.0"
django-tapeforms = ">=0.0.2"
"django-tables2" = "*"
django-filter = "*"


[requires]

python_version = "3.6"
