<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'minimal:demo' %}">Minimal demo</a>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Collection</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'collection:list' %}">Person list</a>
			<a class="dropdown-item" href="{% url 'collection:filter' %}">Filter persons</a>
			<a class="dropdown-item" href="{% url 'collection:add' %}">Add new person</a>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Formset</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'formset:list' %}">Person list</a>
			<a class="dropdown-item" href="{% url 'formset:add' %}">Add new person</a>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Remote Data</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'remote:list' %}">Show pets</a>
			<a class="dropdown-item" href="{% url 'remote:add' %}">Add new pet</a>
		</div>
	</li>
</ul>
