form {
	@extend .uk-form-stacked;

	.form-field {
		@extend .uk-margin;

		&.has-errors {
			label,
			input,
			select,
			textarea {
				@extend .uk-form-danger;
			}
		}

		.errorlist {
			margin: 0.2em;
			padding: 0;
			font-size: $form-small-font-size;
			color: $form-danger-color;
			list-style-type: none;
		}

		.help-text {
			margin-top: 0.2em;
			font-size: $form-small-font-size;
		}
	}

	.form-widget-radioselect .uk-form-controls label {
		display: block;
	}
}
