{% load i18n %}
{% load django_tables2 %}


{% with table.page.paginator.count as total %}
{% with table.page.object_list|length as count %}
{% block pagination %}
	<ul class="uk-pagination">
		{% if table.page.has_previous %}
			{% block pagination.previous %}
				<li>
					<a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" title="{% trans 'Previous page' %}"><span uk-pagination-previous></span></a>
				</li>
			{% endblock %}
		{% endif %}

		{% if table.page.has_previous or table.page.has_next %}
			{% block pagination.cardinality %}
				<li class="uk-active"><span>
					{% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}
					</span></li>
				</li>
			{% endblock %}
		{% endif %}

		{% if table.page.has_next %}
			{% block pagination.next %}
				<li class="next">
					<a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" title="{% trans 'Next page' %}"><span uk-pagination-next></span></a>
				</li>
			{% endblock %}
		{% endif %}
	</ul>
{% endblock %}
{% endwith %}
{% endwith %}
